<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <div class="container">
        <h1>Sign Up</h1>

        <form action="/signup" method="post" >
            <input type="text" placeholder="Username" name="name">
            <input type="password" placeholder="Password" name="password">
            <button type="submit">Sign Up</button>
            <p>Already have an account? <a href="/">Login</a></p>
        </form>
    </div>

</body>
</html>
